/* COLORES */
:root {
    --color-primario: rgb(187, 113, 219);
    --color-fondo: rgb(52, 0, 90);
    --color-secundario: #bf00ff;
    --color-rojo: #963121;
    --color-light: #fff;
    --color4: #d0eaa3;
    --color5: #fff18c;
}

/* TIPOGRAFÍA */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--color-fondo);
}

h1 {
    font-size: 24px;
    color: var(--color-primario);
}

h2 {
    font-size: 20px;
    color: var(--color-secundario);
}

p {
    font-size: 16px;
}

.error-text {
    color: var(--color-rojo);
    font-size: 12px;
}