@import 'global.css';

.App {
    padding: 1rem;
    height: 90vh;
}
.container-notes-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    padding: 1rem;
}

.note-card {
    max-width: 400px;
    width: 100%;
    background-color: var(--color-secundario);
    margin: 1rem;
    padding: 1rem;
    border: 1px solid var(--color-light);
    border-radius: 14px;
    display: flex;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.6);
}

.note-done-card {
    max-width: 400px;
    width: 100%;
    background-color: var(--color-primario);
    margin: 1rem;
    padding: 1rem;
    border: 1px solid var(--color-light);
    border-radius: 14px;
    display: flex;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.6);
}

.note-detail {
    flex: 0.7;
    text-align: start;
    color: var(--color-light);
}

.note-title {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
}

.note-options {
    flex: 0.3;
    justify-content: center;
    align-self: center;
}

.icon-delete {
    background-color: var(--color-rojo);
    color: var(--color-light);
}

.icon-delete:hover {
    color: var(--color-light) !important;
    border-color: var(--color-light) !important;
}

.icon-done {
    background-color: var(--color-primario);
    color: var(--color-light);
}

.icon-done:hover {
    color: var(--color-light) !important;
    border-color: var(--color-light) !important;
}

.icon-note-done {
    color: var(--color-light) !important;
    font-size: 20px;
}

.text-done {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    color: var(--color-light);
}

.container-done {
    display: flex;
    flex-direction: row;
    margin-top: -14px;
}
