/* Login.css */

.login-container {
    text-align: center;
    margin-top: 50px;
  }
  
  h2 {
    color: #333;
  }
  
  /* Estilos para el botón */
  .login-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50; /* Color verde */
    color: white;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  
  .login-button:hover {
    background-color: #45a049; /* Cambia el color al pasar el ratón */
  }
  